<nav class="navbar navbar-expand-lg py-3 navbar-custom">
  <div class="container">
    <h1 class="f1-main-title col-6 justify-content-start">Formula 1 2023 Web Page</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-6 justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link menu mx-2" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu" href="http://localhost:4200/drivers/4">Hamilton</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-5">
  <router-outlet (activate)="onActivate()"></router-outlet>
</div>
